body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}
.element {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 32;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: hsl(0deg 0% 100% / 70%);
    background-color: #24292e;
}
.ire-header-link {
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    margin-right: 16px;
}
.ire-header-link:hover {
    color: hsl(0deg 0% 100% / 15%);
}
.ire-octicon {
    display: inline-block;
    overflow: visible!important;
    vertical-align: text-bottom;
    fill: currentColor;
}
.ire-header-search-wrapper {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: hsl(0deg 0% 100% / 70%);
    vertical-align: middle;
    background-color: #24292e;
    border: 1px solid #373e47;
}
label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-search-input {
    background-color: #24292e;
    border: 0;
}
#ire-header {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100vw;
    height: 1.875rem;
    background-color: #24292e;
    padding: 16px
}
#ire-header a {
    text-decoration: none;
    color: #fff;
}


